@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700|Work+Sans:300,400');

$lightGrey: #f3edea;
$darkGrey: #403332;

body {
  background-color: $lightGrey;
  color: $darkGrey;
  font-family: 'Source Code Pro', monospace;
}
