@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700|Work+Sans:300,400');

$darkPurple: #2b1740;
$lightPurple: #9373bf;
$mediumPurple: #6649a6;
$lightGrey: #f3edea;
$darkGrey: #403332;

body {

  background-color: $lightGrey;
  color: $darkGrey;
  font-family: 'Source Code Pro', monospace;

  input[type=checkbox] {
    margin-right: 0.3em;
  }

  main {
    display: flex;
    text-align: center;
    margin: 2em;

    h3 {
      text-align: left;
      margin-left: 15%;
    }

    div {
      width: 50%;
    }

    form {
      display: inline-block;
      label {
        display: block;
      }
    }

    form.webpack-options {
      text-align: right;
    }

    form.loaders {
      text-align: left;
    }

    .generated-code {
      text-align: left;
    }
  }
}
