@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700|Work+Sans:300,400');

$darkPurple: #2B1740;
$lightPurple: #9373BF;
$mediumPurple: #6649A6;
$lightGrey: lighten(#D9D3D0, 10%);
$darkGrey: #403332;

body {

  background-color: $lightGrey;
  color: $darkGrey;

  header {
    background-color: $darkPurple;
    overflow: hidden;
    text-align: center;
    padding: 3em 0;
    line-height: 1;

    h1 {
      color: $lightGrey;
      margin: 0;
      font-family: 'Source Code Pro', monospace;
      font-weight: normal;
      font-size: 2.1em;
    }

    p {
      color: $lightPurple;
      font-weight: 300;
      font-family: 'Work Sans', sans-serif;
      margin-top: 0.6em;
      margin-bottom: 0;
    }
  }
}
